<p-orderList [value]="categorySummaries" header="Categories" [dragdrop]="true" (onReorder)="reorderCategories($event)" [listStyle]="{ maxHeight: '30rem'}">
    <ng-template let-category pTemplate="item" >
        <div class="flex flex-wrap p-2 align-items-center">
            <div class="flex-1 flex flex-column gap-2"> {{ category.name }} </div>
            <p-button icon="pi pi-trash" [text]="true" severity="danger" (onClick)="deleteCategory(category.id)"
                pTooltip="Delete" tooltipPosition="left" [showDelay]="300" [hideDelay]="100"></p-button>    
        </div>
    </ng-template>
</p-orderList>

<form class="mt-5 w-100 formgroup-inline justify-content-center">
    <input id="new-category-name" pInputText [formControl]="categoryCandidateNameInput" class="field"
        [pKeyFilter]="categoryNameValidator" placeholder="New Category"/>
    <p-button label="Add" [loading]="categoryCreationLoading" (onClick)="createNewCategory()"
        [disabled]="!categoryCandidateNameInput.valid"
    ></p-button>
</form>
<p-toast></p-toast>