<app-loader [loading]="loading">
    <p-dataView [value]="articles">
        <ng-template pTemplate="list" let-articles>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let article of articles; let first = first">
                    <div class="p-4" [ngClass]="{ 'border-top-1 surface-border': !first }">
                        <app-article-summary [article]="article"></app-article-summary>
                        <div class="flex flex-row justify-content-end w-full">
                            <app-article-highligh-toggle [highlighted]="article.highlighted" (highlightChange)="handleArticleHighlightChange(article.id, $event)"></app-article-highligh-toggle>
                            <app-hide-input-toggle [hidden]="article.hidden" (visibilityChange)="handleArticleVisibilityChange(article.id, $event)"></app-hide-input-toggle>
                            <p-button icon="pi pi-pencil" [text]="true" severity="secondary" [routerLink]="['/admin/articles/edit', article.id]"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="pageIndex * pageSize" [rows]="pageSize" [totalRecords]="numberOfArticles"
        [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
    ></p-paginator>
</app-loader>
<p-toast></p-toast>