<app-loader [loading]="loadingArticleCreation">
    <form [formGroup]="form" class="new-article-form" *ngIf="shouldRenderForm()">
        <span class="p-float-label article-property-input">
            <input pInputText id="title" formControlName="title" />
            <label htmlFor="title">Title</label>
        </span>
        <span class="p-float-label article-property-input">
            <textarea pInputTextarea rows="5" pInputText id="description" formControlName="description" [autoResize]="true" class="w-full"></textarea>
            <label htmlFor="description">Description</label>
        </span>
        <span class="p-float-label article-property-input">
            <input pInputText id="thumbnailImageUrl" formControlName="thumbnailImageUrl" />
            <label htmlFor="thumbnailImageUrl">Thumbnail Image URL</label>
        </span>
        <p-image *ngIf="form.get('thumbnailImageUrl')?.value" [src]="form.get('thumbnailImageUrl')?.value" class="flex justify-content-center"></p-image>
        
        <div class="article-property-input">
            <app-categories-dropdown [form]="form"></app-categories-dropdown>
        </div>

        <div class="article-content-editor">
            <app-rich-text-editor formControlName="content"></app-rich-text-editor>
        </div>
        
        <div class="flex w-100 article-property-input">
            <p-chips formControlName="keywords" placeholder="Keywords" class="flex w-100"></p-chips>
        </div>
    
        <p-button label="Submit" (onClick)="createArticle()"></p-button>
    </form>
</app-loader>
