<p-orderList [value]="articles" header="Highlighted Articles" [dragdrop]="true" (onReorder)="reorderHighlights()" [responsive]="true">
    <ng-template let-article pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <app-article-summary class="w-full" [article]="article"></app-article-summary>
            <div class="justify-content-end w-full flex flex-row">
                <p-button icon="pi pi-minus" [text]="true" severity="danger" (onClick)="remove(article.id)"
                    pTooltip="Remove from highlights" tooltipPosition="left" [showDelay]="300" [hideDelay]="100"
                ></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="empty">
        <app-article-summary-skeleton [repeat]="3"></app-article-summary-skeleton>
    </ng-template>
</p-orderList>
<app-toast></app-toast>
